.App {
  text-align: center;
}

.App-logo {
  height: 60vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(137, 13, 13);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}


h2 {
  font-size: 24px;
  font-weight: bold;
  text-align: center;  
  margin-top: 20px;
}

h6 {
  font-size: 24px;
  text-align: center;  
  margin-top: 40px;
  text-size-adjust: 0
}

p {
  font-size: 15px;
  text-align: center;  
  margin-top: 60px;
  margin-left: 100px;
  margin-right: 100px;
}
p1 {
  font-size: 15px;
  text-align: left;  
  margin-top: 60px;
  margin-left: 100px;
  margin-right: 100px;
}


.logo-img1 {
  max-width: 100px;  
  max-height: 100px;  
  margin: 0px;  
}

.logo-img2 {
  max-width: 70px;  
  max-height: 70px;  
  margin: 10px;  
}

.map-container {
  width: 50%;  
  height: auto;  
  margin-top: 10px;
  margin-bottom: 20px;  
}


.wbgt-chart-img {
  width: 50%;  
  height: auto;  
  margin-top: 10px;  
  margin-bottom: 20px;  
}


.result-table {  
  table-layout: auto;
  border-collapse: collapse;
  margin-top: 20px;
  margin-bottom: 20px;
}

.result-table th,
.result-table td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: center;
}

.page-container {
  display: flex;
  flex-direction: column;

  align-items: center;
  height: 100vh;  
}

.login-container {
  width: 300px; 
  padding: 20px;  
  border: 1px solid #ccc;  
  border-radius: 5px;  
  background-color: #f7f7f7;  
  margin-top: 20px;
}

.graph-container {
  display: flex;
  justify-content: center;
  align-items: center;  
  margin: 10px;
  flex-wrap: wrap;
}

.chart-container {
  flex: 1;
  margin: 10px;
  justify-content: center;
  text-align: center;
}

.chart-container canvas {
  width: 100% !important;
  height: auto !important;
}

.dashboard-container {
  padding: 20px;
}

.dashboard-box {
  background-color: #fff;
  border: 1px solid #05776b;
  padding: 20px;
  margin: 20px;
  ;
  flex: 1;
}

.chart-container {
  display: flex;
  margin-top: 20px;
}

.chart-section {
  flex: 1;
  background-color: #f3f3f7;
  padding: 20px;
  margin-right: 20px;
}


.logo-container {
  display: flex;
  align-items: center;
}

.logo-text {
  font-size: 24px;
  margin-left: 10px;
  color: #3498db; 
  font-weight: bold;
  letter-spacing: 3px;
  text-transform: uppercase;
  animation: moveLetters 5s infinite linear;
  position: relative;
}

.logo-text::before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: -100%;
  white-space: nowrap;
  animation: moveLetters 10s infinite linear;
  animation-delay: 1s;
}

@keyframes moveLetters {
  0% {
      transform: translateX(0);
  }
  100% {
      transform: translateX(30px); 
  }
}
.title-container {
  text-align: center; 
  margin-top: 20px; 
}

.title {
  background-color: #e3f2fd; 
  padding: 10px 20px; 
  color: rgb(14, 4, 4);
  display: inline-block; 
  border-radius: 10px;
}

.shaded-nav {
  background-color: rgba(207, 83, 83, 0.9); /* Use your desired background color with opacity */
  backdrop-filter: blur(30px); /* Optional: Add a slight blur effect */
  transition: background-color 0.3s; /* Optional: Add a smooth transition */
}

.shaded-nav:hover {
  background-color: rgb(109, 15, 15); /* Adjust the opacity on hover if needed */
}
/* App.css or a separate CSS file */
.error-message {
  color: red;
  font-size: 14px;
  margin-top: 5px;
}

